body {
  background-color: #F7ECDF;
}

#title {
  background-color: #2EC4B6;
  border-radius: 10px;
}

.col-md-1 {
  background-color: #2EC4B6;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.col-md-11 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.row {
  margin-top: 3%;
}

h3 {
  background-color: #FFBF69;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 2%;
  margin-bottom: 0;
}

#priority {
  padding-left: 0;
}

#other {
  padding-right: 0;
}

.addButton {
  background-color: #2EC4B6;
  width: 100%;
  padding: 0;
  height: 100%;
  border: 0;
  transition: 0.8s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: 0;
}

.addButton:hover {
  background-color: #7AE1DC;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  position: relative;
  padding: 1%;
}

li:nth-child(even) {
  background-color: #7AE1DC;
}

li:nth-child(odd) {
  background-color: #CBF3F0;
}

.delete {
  background-color: #FF9F1C;
  border-width: 0;
  width: 7%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.8s;
}

.delete:hover {
  background-color: #FFBF69;
}

.dialogButton {
  background-color: #CBF3F0;
  width: 7%;
  height: 100%;
  position: absolute;
  top: 0;
  border-width: 0;
  transition: 0.8s;
  right: 7%;
}

.dialogButton:hover {
  background-color: #2EC4B6;
}

dialog {
  width: 60%;
  height: 60%;
  background-color: #FFBF69;
  padding: 0;
  border-radius: 20px;
}

.divInput {
  margin-left: 2%;
  position: relative;
  margin-bottom: 2%;
  margin-top: 2%;
}

h4 {
  text-align: center;
}

#prioritySpace {
  height: 100%;
  width: 100%;
}

#mainSpace {
  height: 100%;
  width: 100%;
}

.divButtons {
  text-align: center;
  margin-top: 7%;
}

.divTitle {
  background-color: #FF9F1C;
  padding-top: 2%;
}

.backButton {
  width: 50%;
  height: 100%;
  background-color: #2EC4B6;
  border-radius: 10px;
  transition: 0.8s;
  border: 0;
}

.backButton:hover {
  background-color: #7AE1DC;
}

.changeButton {
  background-color: #2EC4B6;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 15%;
  transition: 0.8s;
  border: 0;
  height: 100%;
}

.changeButton:hover {
  background-color: #7AE1DC;
}

.changeNameTask {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 83%;
}

p {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
}